@mixin background($url) {
	background: $url;
	background-size: contain;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(../images/bg.svg);
}

.background {
	background: rgb(52, 166, 251);
	table-layout: fixed;
	border-spacing: 0;
}

.background td { padding: 0; }

.lava {
	@include background(url(../images/lava2.png));
}

.ofoghi {
	@include background(url(../images/lava3.png));

	z-index: 10;
	background-position: center;
}

.amoodi {
	@include background(url(../images/lava3.png));

	background-position: center;
	z-index: 10;
}

.wall { background: white; }

.actor { position: absolute; }

.coin {
	@include background(url(../images/coin.png));

	background-repeat: no-repeat;
}

.player {
	@include background(url(../images/pixel.png));
}

.game {
	overflow: hidden;
	max-width: 600px;
	max-height: 450px;
	position: relative;
	border: 40px solid rgb(153, 7, 44);
}

.lost .player {
	@include background(url(../images/fire4.png));

	background-repeat: no-repeat;
}

.won .player {
	@include background(url(../images/player_win.png));
}

.heart {
	width: 50px;
	height: 50px;
	line-height: 11px;
	position: absolute;
	top: 40px;
	left: 50px;

	@include background(url(../images/heart-removebg-preview.png));

	opacity: 0.5;
	z-index: 10;
	text-align: center;
	color: white;
}

.heart h3 {
	color: white;
}

.joon {
	color: black;
}

.monster {
	@include background(url(../images/monster.png));

	background-repeat: no-repeat;
}

.player_jump {
	@include background(url(../images/player_jump.png));
}
